<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="0" connectionString="Data Source=BHI27W3GS1;Integrated Security=SSPI;Initial Catalog=NORTHWND;" providerName="System.Data.SqlClient"/>
    <add name="14" connectionString="Data Source=BHIHOUSQLCLUA01\BHIHOUSQL23,50900;Integrated Security=SSPI;Initial Catalog=WebDevSystem;" providerName="System.Data.SqlClient"/>
    <add name="1" connectionString="Data Source=MYSTIQUE;Integrated Security=SSPI;Initial Catalog=OnboardingDBDev;" providerName="System.Data.SqlClient"/>
    <add name="2" connectionString="Data Source=MYSTIQUE;Integrated Security=SSPI;Initial Catalog=OnboardingPocTest;" providerName="System.Data.SqlClient"/>
    <add name="3" connectionString="Data Source=MYSTIQUE;Integrated Security=SSPI;Initial Catalog=Northwind;" providerName="System.Data.SqlClient"/>
    <add name="4" connectionString="Data Source=MYSTIQUE;Integrated Security=SSPI;Initial Catalog=nhprovider_test;" providerName="System.Data.SqlClient"/>
    <add name="5" connectionString="Data Source=MYSTIQUE;Integrated Security=SSPI;Initial Catalog=OnboardingDB;" providerName="System.Data.SqlClient"/>
    <add name="6" connectionString="Data Source=MYSTIQUE;Integrated Security=SSPI;Initial Catalog=marsdb;" providerName="System.Data.SqlClient"/>
    <add name="7"
         connectionString="Data Source=(DESCRIPTION = (SDU = 32768)(enable = broken)(LOAD_BALANCE = yes)(ADDRESS = (PROTOCOL = TCP)(HOST = gvu0113.houston.hp.com)(PORT = 1525))(ADDRESS = (PROTOCOL = TCP)(HOST = gvu0145.houston.hp.com)(PORT = 1525))(CONNECT_DATA = (SERVICE_NAME = IGID)));USER ID=igiusers;PASSWORD=Dev.NOV23-IGI;"
         providerName="System.Data.OracleClient" />
    <add name="8"
         connectionString="Data Source=(DESCRIPTION = (SDU = 32768)(enable = broken)(LOAD_BALANCE = yes)(ADDRESS = (PROTOCOL = TCP)(HOST = gvu0113.houston.hp.com)(PORT = 1525))(ADDRESS = (PROTOCOL = TCP)(HOST = gvu0145.houston.hp.com)(PORT = 1525))(CONNECT_DATA = (SERVICE_NAME = IGID)));USER ID=igiusers;PASSWORD=Dev.NOV23-IGI;"
         providerName="System.Data.OracleClient" />
    <add name="9"
         connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = TestDB)));USER ID=SA;PASSWORD=HHHHpppp0000;"
         providerName="System.Data.OracleClient" />
    <add name="10"
         connectionString="Data Source=G3W0467\I01,2048, 2048;Initial Catalog=CSI;User Id=CSIDevUser;Password=cs1d3v@pwd.2010;"
         providerName="System.Data.SqlClient" />
    <add name="11"
         connectionString="Data Source=G3W0467\I01,2048, 2048;Initial Catalog=CSI_Reporting;User Id=CSIDevUser;Password=cs1d3v@pwd.2010;"
         providerName="System.Data.SqlClient" />
    <add name="12"
         connectionString="Data Source=MBADARUSSA;Integrated Security=SSPI;Initial Catalog=CSI;"
         providerName="System.Data.SqlClient" />
    <add name="13"
         connectionString="Password=bitstore;Persist Security Info=True;User ID=bitstore;Initial Catalog=BITSTORE;Data Source=BHIHWWSQLPRD3\SHAREDPRODINST,50900"
         providerName="SQLNCLI.1" />
  </connectionStrings>
  <appSettings>
    <add key="NamespaceCs" value="BHI.Northwind"/>
    <add key="DatabaseType" value="mssql"/>
    <add key="InputDirectory" value="Codes"/>
    <add key="InputAndOutputDbFile" value="NORTHWND_Text.txt"/>
    <add key="InputUIFile" value="UI_NORTHWND_Text.txt"/>
    <add key="OutputDirectory" value="Codes"/>
    <add key="Owner" value=""/>
    <add key="ReadFromDb" value="false"/>
    <add key="ReadFromDbFile" value="true"/>
    <add key="RemoveChars" value=""/>
    <add key="ApplicationName" value="Northwind"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>